openapi: 3.1.0
info:
  title: User Service API
  version: 1.0.0
  description: OpenAPI спецификация для основного сервиса

security:
  - bearerAuth: [ ]

paths:


components:
  schemas:



  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
